<div class="header">
    <img class="header-img" src="../../../../assets/first-man-home.jpeg" alt="header-image"s>
    <img class="header-img-mobile" src="../../../../assets/header-image-mobile.jpeg" alt="header-image">
</div>
<div class="input-group search-input justify-content-center">
    <div class="input-group-prepend input glow">
        <span class="input-group-text search-icon">
            <fa-icon [icon]="faSearch"></fa-icon>
        </span>
        <input type="text" class="input" placeholder="search for a project" #autofocus>
        <button type="button" class="search-button">search</button>
    </div>
    <button type="button" class="search-button-mobile">search</button>
</div>