<h2>Projects</h2>
<span></span>
<ul style="list-style-type:none;" class="projects">
  <li *ngFor="let project of projects">
      <div class="card" style="width: 18rem;">
          <img src={{project.productImage}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <p class="card-text">{{project.description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
  </li>
</ul>
