@import './src/shared/variables.scss';

.card {
    height: 100%;  
}

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

.card-text{
    overflow-y: hidden;
    height: 150px;
    text-overflow: ellipsis;
}

.campaign-button {
    background-color: $red_bright;
    color: $white;
}

.campaign-button:hover {
    background-color: darken($red_bright, 10%);
}