<nav class="navbar navbar-expand-md navbar-inverse">
    <div class="container fluid">
        <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon hamburger" data-toggle="collapse" data-target="#navbartoggle" aria-controls="navbartoggle">
                    <fa-icon [icon]="faBars"></fa-icon>
            </span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">
            <span class="navbar-brand mb-0 h1"><img src="../../../../assets/logo-los.png" width="40" height="40" alt="launc-logo"></span>
        </a>     
        <ul class="nav navbar-nav navbar-right responsive">
                <a class="nav-link" [routerLink]="['/login']">sign in</a>
        </ul>
        <div class="collapse navbar-collapse" id="navbartoggle">   
            <ul class="navbar-nav nav">
                <a class="nav-link" [routerLink]="['/']">home</a>
                <a class="nav-link" [routerLink]="['/']">projects</a>
                <a class="nav-link" [routerLink]="['/']">menu item 3</a>
                <a class="nav-link" [routerLink]="['/']">menu item 4</a>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right normal">
            <a class="nav-link" *ngIf="(isLoggedIn | async) === false; else loggedIn;" [routerLink]="['/login']">sign in</a>
            <ng-template #loggedIn>
                <a class="nav-link" href="#">logged in as {{userName}}</a>
                <p class="nav-link" (click)="logout()">logout</p>
            </ng-template>
        </ul>
    </div>
</nav>