@import "./shared/variables.scss";

body {
    background-color: $white !important;
}

button {
    cursor: pointer;
    color: #ffffff;
}

input, button {
    border: none;
    outline: none;
    background: none;
}

@media (max-width: 576px) {
    .container { 
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

html, body {
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
