@import "./shared/variables.scss";

body {
    background-color: $white !important;
}

button {
    cursor: pointer;
    color: #ffffff;
}

input, button {
    border: none;
    outline: none;
    background: none;
}